# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore log files
logs/
*.log

# Ignore temp files
tmp/
*.tmp

# Ignore sensitive files
secrets.json
api_keys.json

# Ignore images folder (if you don't want to commit images)
images/

# Ignore .github directory
.github/

# Ignore pnpm-lock.yaml file
pnpm-lock.yaml